.dashboard-container {
  display: flex;
  height: 100vh;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  width: 100%;
  overflow-y: auto;
}

section {
  margin-bottom: 50px;
}

h2 {
  font-size: 24px;
  color: #2c3e50;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}
