/* Container principal */
.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center; /* Centraliza o container na tela */
}

/* Gráficos 6 e 10 na parte superior */
.top-graphs {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas para gráficos 9 e 10 */
    gap: 20px;
    width: 100%;
    max-width: 1200px; /* Limita a largura máxima para alinhamento centralizado */
    justify-items: center; /* Centraliza os gráficos */
}

/* Gráficos restantes na linha inferior */
.bottom-graphs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adaptável com colunas flexíveis */
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    justify-items: center; /* Centraliza os gráficos */
}

/* Estilos para os gráficos */
.graph {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Altura ajustada para manter a proporção */
    width: 100%;
    transform: scale(0.6); /* Redimensiona para um tamanho menor, mantendo o alinhamento */
}

/* Estilo responsivo */
@media (max-width: 768px) {
    .top-graphs, .bottom-graphs {
        grid-template-columns: 1fr; /* Uma coluna para telas menores */
    }
}
